---
import type { GetStaticPaths } from 'astro'
import { render } from 'astro:content'

import ArticleLayout from '@/layouts/ArticleLayout.astro'
import { getSortedArticles } from '@/utils/articles'
import { idToSlug } from '@/utils/hash'

export const getStaticPaths = (async () => {
	const articleEntries = await getSortedArticles()
	return articleEntries.map((entry) => ({
		params: {
			slug: idToSlug(entry.id),
		},
		props: { entry },
	}))
}) satisfies GetStaticPaths

const { entry } = Astro.props
const { Content } = await render(entry)
---

<ArticleLayout
	title={entry.data.title}
	description={entry.data.description}
	image={entry.data.image}
>
	<div
		class='hidden'
		data-pagefind-body
		data-pagefind-weight='10'
		data-pagefind-meta='title'
	>
		{entry.data.title}
	</div>
	<div data-pagefind-body>
		<Content />
	</div>
</ArticleLayout>
