@utility onload-animation {
	opacity: 0.01;
	animation: 300ms fade-in-up;
	animation-fill-mode: forwards;
}

@keyframes fade-in-up {
	0% {
		scale: 98%;
		transform: translateY(2rem);
		opacity: 0.01;
	}

	100% {
		scale: 100%;
		transform: translateY(0);
		opacity: 1;
	}
}

@utility onload-animation-fade-in {
	opacity: 0;
	animation: 300ms fade-in ease-in;
	animation-fill-mode: forwards;
}

@keyframes fade-in {
	0% {
		opacity: 0.01;
	}

	100% {
		opacity: 1;
	}
}

@utility wave-use {
	animation: wave 25s cubic-bezier(0.5, 0.5, 0.45, 0.5) infinite;
}

@keyframes wave {
	0% {
		transform: translate3d(-90px, 0, 0);
	}

	100% {
		transform: translate3d(85px, 0, 0);
	}
}

@utility header-onload {
	opacity: 0;
	transform: translateX(-50%) translateY(-5rem);
	animation: 300ms header-onload-animation forwards;
}

@keyframes header-onload-animation {
	0% {
		transform: translateY(-5rem) translateX(-50%);
		opacity: 0;
	}

	100% {
		transform: translateY(0) translateX(-50%);
		opacity: 1;
	}
}
