/* フォントのインポート */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

/* Tailwind CSSのインポート */
@import 'tailwindcss';

/* グローバルスタイルのインポート */
@import './transitions.css';
@import './animations.css';
@import './scrollbar.css';
@import './searchbar.css';
@import './markdown.css';

/* Tailwind CSSのプラグイン */
@import 'tw-animate-css';
@plugin '@tailwindcss/typography';

/* Tailwind CSSのカスタム設定 */
@custom-variant dark (&:is(.dark *));

/* カラーパレットの定義 */
:root {
	--hue: 300;

	--background: oklch(97% 0.01 var(--hue));

	--foreground: oklch(30% 0 0);
	--foreground-lighten: oklch(50% 0 0);

	--primary: oklch(70% 0.15 var(--hue));
	--primary-lighten: oklch(95% 0.02 var(--hue));
	--primary-hover: oklch(90% 0.025 var(--hue));
	--primary-transparent: oklch(70% 0.15 var(--hue) / 15%);

	--card: oklch(100% 0 0);
	--card-transparent: oklch(100% 0 0 / 85%);

	--font-brand: 'Raleway', 'Noto Sans JP', sans-serif;
	--font-primary: 'Noto Sans JP', sans-serif;
	--font-code: 'JetBrains Mono', monospace;
	--font-copyright: 'Poiret One', sans-serif;

	/* 5xlに変更する */
	--page-width-lg: 1024px;
	/* 7xlに変更する */
	--page-width-xl: 1280px;
	--banner-height: 55vh;

	--font-title: var(--font-brand);
	--color-title: oklch(100% 0 0 / 95%);
	--font-subtitle: var(--font-brand);
	--color-subtitle: oklch(100% 0 0 / 85%);

	--onload-animation-delay: 100ms;
	--onload-animation-interval: 100ms;
}

/* ダークモードのカラーパレット */
.dark {
	--background: oklch(17.5% 0.015 var(--hue));

	--foreground: oklch(95% 0.002 var(--hue));
	--foreground-lighten: oklch(90% 0.002 var(--hue));

	--primary: oklch(70% 0.125 var(--hue));
	--primary-lighten: oklch(40% 0.04 var(--hue));
	--primary-hover: oklch(20% 0.015 var(--hue));

	--card: oklch(25% 0.02 var(--hue));
	--card-transparent: oklch(30% 0.025 var(--hue) / 85%);
	--card-lighten: oklch(40% 0.04 var(--hue));
}

/* カラーパレットの変数をテーマに適用 */
@theme inline {
	--color-background: var(--background);

	--color-foreground: var(--foreground);
	--color-foreground-lighten: var(--foreground-lighten);

	--color-primary: var(--primary);
	--color-primary-lighten: var(--primary-lighten);
	--color-primary-hover: var(--primary-hover);
	--color-primary-transparent: var(--primary-transparent);

	--color-card: var(--card);
	--color-card-transparent: var(--card-transparent);
	--color-card-lighten: var(--card-lighten);

	--font-brand: var(--font-brand);
	--font-primary: var(--font-primary);
	--font-code: var(--font-code);
	--font-copyright: var(--font-copyright);

	--spacing-page-width-lg: var(--page-width-lg);
	--spacing-page-width-xl: var(--page-width-xl);
	--spacing-banner-height: var(--banner-height);

	--font-title: var(--font-title);
	--color-title: var(--color-title);
	--font-subtitle: var(--font-subtitle);
	--color-subtitle: var(--color-subtitle);

	--onload-animation-delay: var(--onload-animation-delay);
	--onload-animation-interval: var(--onload-animation-interval);
}

.swup-progress-bar {
	height: 5px;
	background-color: var(--primary);
}
