---
import { SITE } from '@/config'
---

<footer class='mx-3'>
	<hr
		class={`
			my-4 border-t border-dashed border-black/25
			lg:mt-0
			dark:border-white/25
		`}
	/>
	<div class='flex w-full flex-col items-center text-sm text-foreground-lighten'>
		<p>
			&copy; {new Date().getFullYear()}
			<span class='font-copyright font-semibold'>
				{SITE.author}
			</span>
			All Rights Reserved.
		</p>
		<p>
			<a
				class={`
					text-primary transition-all
					hover:brightness-110
				`}
				href={new URL('sitemap-index.xml', SITE.site)}>SiteMap</a
			> / <a
				class={`
					text-primary transition-all
					hover:brightness-110
				`}
				href='/rss.xml'>RSS</a
			>
		</p>
	</div>
</footer>
