---
import { getEntry, render } from 'astro:content'

import Markdown from '@/components/common/Markdown.astro'
import MainLayout from '@/layouts/MainLayout.astro'

const aboutArticle = await getEntry('specs', '404')
if (!aboutArticle) {
	// Handle Error, for example:
	throw new Error('Could not find 404 article')
}
const { Content } = await render(aboutArticle)
---

<MainLayout>
	<div class='article-wrapper'>
		<div class='article'>
			<Markdown>
				<Content />
			</Markdown>
		</div>
	</div>
</MainLayout>

<style>
	@reference "../styles/globals.css";

	.article-wrapper {
		@apply bg-card w-full rounded-2xl p-10;
	}
	.article {
		@apply flex flex-col;
	}
</style>
