---
import { getEntry, render } from 'astro:content'

import Markdown from '@/components/common/Markdown.astro'
import PageLayout from '@/layouts/PageLayout.astro'

const aboutArticle = await getEntry('specs', '404')
if (!aboutArticle) {
	// Handle Error, for example:
	throw new Error('Could not find 404 article')
}
const { Content } = await render(aboutArticle)
---

<PageLayout>
	<div class='w-full rounded-2xl bg-card p-10'>
		<div class='flex flex-col'>
			<Markdown>
				<Content />
			</Markdown>
		</div>
	</div>
</PageLayout>
