---
import '@/styles/global.css'

import Layout from '@/layouts/Layout.astro'
---

<Layout>
	<h1 class="mt-20 text-center text-4xl font-bold">Welcome to My Astro Site</h1>
	<p class="mt-4 text-center">This is the homepage.</p>
</Layout>
