---
import { formatDate } from '@/utils/date'

interface Props {
	id: string
	title: string
	published: Date
}

const { id, title, published } = Astro.props
---

<a
	href={id}
	class={`
		group flex w-full flex-row items-center rounded-md py-2 transition-colors select-none
		hover:bg-(--color-primary-lighten)
	`}
	aria-label={`記事「${title}」を読む`}
>
	<!-- 日付表示部分 -->
	<div
		class={`
			flex w-[15%] flex-row justify-end
			md:w-[10%]
		`}
	>
		<p class='font-primary text-sm text-foreground-lighten'>
			{
				formatDate(published, {
					month: '2-digit',
					day: '2-digit',
				})
			}
		</p>
	</div>

	<!-- タイムライン ドット部分 -->
	<div
		class={`
			relative flex h-full w-[15%] items-center
			md:w-[10%]
		`}
	>
		<div
			class={`
				absolute top-1/2 left-[calc(50%-1px)] h-10 -translate-y-1/2 border-l-2 border-dashed border-l-foreground opacity-25
			`}
		>
		</div>
		<div
			class={`
				z-50 mx-auto h-1 w-1 rounded bg-foreground-lighten outline-4 outline-card transition-all
				group-hover:h-4 group-hover:bg-primary group-hover:outline-primary-lighten
			`}
		>
		</div>
	</div>

	<!-- タイトル表示部分 -->
	<div
		class={`
			flex w-[70%] flex-row
			md:w-[80%]
		`}
	>
		<p
			class={`
				truncate font-primary font-semibold text-foreground transition-all
				group-hover:pl-2 group-hover:text-primary
			`}
		>
			{title}
		</p>
	</div>
</a>
