---
interface Props {
	class?: string
}

const { class: className } = Astro.props
---

<div
	class={`
		prose prose-sm max-w-full shrink
		lg:prose-base
		dark:prose-invert
		${className}
	`}
>
	<slot />
</div>
