---
import type { ImageMetadata } from 'astro'

import Markdown from '@/components/common/Markdown.astro'
import PageLayout from '@/layouts/PageLayout.astro'

interface Props {
	title?: string
	description?: string
	image?: ImageMetadata
}

const { title, description, image } = Astro.props
---

<PageLayout title={title} subTitle={description} bannerImage={image}>
	<div
		class={`
			mx-3 rounded-2xl bg-card px-5 py-6
			lg:mx-0 lg:px-10 lg:py-9
		`}
	>
		<div class='article'>
			<Markdown>
				<slot />
			</Markdown>
		</div>
	</div>
</PageLayout>
