---
import CommonMeta from '@/components/common/CommonMeta.astro'
import Favicons from '@/components/Favicons.astro'
---

<!doctype html>
<html lang="ja" dir="ltr">
	<head>
		<CommonMeta />
		<Favicons />
	</head>
	<body>
		<slot />
	</body>
</html>
