---
import '@/styles/global.css'

import CommonMeta from '@/components/common/CommonMeta.astro'
import Favicons from '@/components/common/Favicons.astro'
import MetaData from '@/components/common/MetaData.astro'
import { SITE } from '@/config.ts'
import type { MetaData as MetaDataType } from '@/types.ts'

export interface Props {
	metadata?: MetaDataType
}

const { metadata = {} } = Astro.props
---

<!doctype html>
<html lang={SITE.lang} dir={SITE.dir}>
	<head>
		<CommonMeta />
		<Favicons />
		<MetaData {...metadata} />
	</head>
	<body>
		<slot />
	</body>
</html>
